/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: #fff}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
  font-size: 20px;
  color: red;
}

body{
  background-color: #F7ECDE;
}
.wrapper{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.container{
  margin: 0 auto;
  width: 80%;
}
.header{
  height: 90px;
  background-color: #000;
  font-size: 25px;
  position: fixed;
  width: 100%;
}
.menu_header{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.logo{
  width: 5%;
  padding-top: .5%;
}
.glav, .osugd, .camp,.dzer{
  padding-top: 2%;
}
a:hover{
  color: red;
  text-decoration: underline;
}

.zag{
  font-size: 64px;
  width: 100%;
  padding-top: 10%;
  text-align: center;
}
.under{
  font-size: 35px;
  width: 100%;
  padding-top: 2%;
  text-align: left;
  text-align: justify;
}
.litavec,.map,.photo{
  margin: 0 auto;
  width: 50%;
  display: block;
  padding-top: 2%;
}
.span{
  color: red;
}

@media screen and (max-width: 320px){
  body{
    overflow-x: hidden;
  }
  .header{
    height: 155px;
    background-color: #000;
    font-size: 25px;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
  }
  .menu_header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .wrapper{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}
.logo{
  display: none;
}
 .container{
  margin: 0 auto;
  width: 90%;
}
.zag{
  font-size: 54px;
  text-align: center;
  padding-top: 50%;
  width: 100%;
}

.under{
  font-size: 30px;
  width: 100%;
  padding-top: 2%;
  text-align: left;
  text-align: justify;
  word-spacing: -2px;
}
.litavec,.map,.photo{
  margin: 0 auto;
  width: 100%;
  display: block;
  padding-top: 2%;
}
}
@media screen and (max-width: 540px){
  .zag{
    font-size: 50px;
    padding-top: 70%;
  }
  .logo{
    display: none;
  }
    .header{
    height: 205px;
    background-color: #000;
    font-size: 31px;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
  }
  .menu_header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .wrapper{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}
  .under{
    font-size: 25px;
    word-spacing: -2px;
  }
  .litavec,.map,.photo{
  margin: 0 auto;
  width: 100%;
  display: block;
  padding-top: 2%;
}
  
}
@media screen and (max-width: 720px){

}

@media screen and (max-width: 960px){}

@media screen and (max-width: 1140px){}
