
/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color: #fff}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
  font-size: 20px;
  color: red;
}

body{
  background-color: #F7ECDE;
}

.wrapper{
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}
.container{
  margin: 0 auto;
  width: 80%;
}
.header{
  height: 100px;
  background-color: #000;
  font-size: 25px;
  position: fixed;
  width: 100%;
}
.menu_header{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.logo{
  width: 5%;
  padding-top: .5%;
}
.glav, .osugd, .camp,.dzer{
  padding-top: 2%;
}
a:hover{
  color: red;
  text-decoration: underline;
}

.main{
  width: 100%;
}
.zag{
  font-size: 64px;
  text-align: center;
  padding-top: 7%;
  width: 100%;
}
.span{
  font-weight: bold;
}
.part_1{
  font-size: 30px;
}
li{
  list-style: disc;
}
.part_2{
  font-size: 25px;
  padding-top: 1%;
}
.table{
  font-size: 20px;
  padding-left: 2%;
  padding-top: .5%;
}
.part_3{
  font-size: 25px;
  padding-top: 1%;
}
.zag_2{
  font-size: 50px;
  padding-top: 2%;
  text-align: center;
}
.under{
  font-size: 30px;
  padding-top: 1%;
  width: 40%;
}
.zag_1{
  font-size: 50px;
  padding-top: 4%;
  text-align: center;
}



.getto,.uruch,.shir,.ozar,.shtal,.hatyn{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}
.photo{
  width: 50%;
  float: right;
}
p{
  text-align: justify;
}

@media (max-width: 540px){
  .container{
  margin: 0 auto;
  width: 90%;
}
.logo{
  display: none;
}
.zag{
  font-size: 64px;
  text-align: center;
  padding-top: 30%;
  width: 100%;
}
.zag_2{
  font-size: 64px;
  text-align: center;
  padding-top: 5%;
  width: 100%;
}
.span{
  font-weight: bold;
}
.part_1{
  font-size: 30px;
  padding-top: 4%;
}
li{
  list-style: disc;
}
.part_2{
  font-size: 25px;
  padding-top: 4%;
}
.table{
  font-size: 20px;
  padding-left: 2%;
  padding-top: 1%;
}
.part_3{
  font-size: 25px;
  padding-top: 4%;
}
}
.getto,.uruch,.shir,.ozar,.shtal,.hatyn{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  text-align: center;
}
.photo{
  width: 80%;
  margin: 2% auto;
}
.under{
  font-size: 25px;
  padding-top: 1%;
  width: 100%;
}

@media (max-width: 720px){
  .container{
  margin: 0 auto;
  width: 90%;
}
.logo{
  display: none;
}
.zag{
  font-size: 64px;
  text-align: center;
  padding-top: 22%;
  width: 100%;
}
.zag_2{
  font-size: 64px;
  text-align: center;
  padding-top: 5%;
  width: 100%;
}
.span{
  font-weight: bold;
}
.part_1{
  font-size: 30px;
  padding-top: 4%;
}
li{
  list-style: disc;
}
.part_2{
  font-size: 25px;
  padding-top: 4%;
}
.table{
  font-size: 20px;
  padding-left: 2%;
  padding-top: 1%;
}
.part_3{
  font-size: 25px;
  padding-top: 4%;
}
}
.getto,.uruch,.shir,.ozar,.shtal,.hatyn{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  text-align: center;
}
.photo{
  width: 80%;
  margin: 2% auto;
}
.under{
  font-size: 25px;
  padding-top: 1%;
  width: 100%;
}

@media (max-width: 960px){
  .container{
  margin: 0 auto;
  width: 90%;
}
.logo{
  display: none;
}
.zag{
  font-size: 64px;
  text-align: center;
  padding-top: 15%;
  width: 100%;
}
.zag_2{
  font-size: 64px;
  text-align: center;
  padding-top: 5%;
  width: 100%;
}
.span{
  font-weight: bold;
}
.part_1{
  font-size: 30px;
  padding-top: 4%;
}
li{
  list-style: disc;
}
.part_2{
  font-size: 25px;
  padding-top: 4%;
}
.table{
  font-size: 20px;
  padding-left: 2%;
  padding-top: 1%;
}
.part_3{
  font-size: 25px;
  padding-top: 4%;
}
}
.getto,.uruch,.shir,.ozar,.shtal,.hatyn{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  text-align: center;
}
.photo{
  width: 80%;
  margin: 2% auto;
}
.under{
  font-size: 25px;
  padding-top: 1%;
  width: 100%;
}

@media (max-width: 1140px){
  .container{
  margin: 0 auto;
  width: 90%;
}
.logo{
  display: none;
}
.zag{
  font-size: 64px;
  text-align: center;
  padding-top: 21%;
  width: 100%;
}
.zag_2{
  font-size: 64px;
  text-align: center;
  padding-top: 5%;
  width: 100%;
}
.span{
  font-weight: bold;
}
.part_1{
  font-size: 30px;
  padding-top: 4%;
}
li{
  list-style: disc;
}
.part_2{
  font-size: 25px;
  padding-top: 4%;
}
.table{
  font-size: 20px;
  padding-left: 2%;
  padding-top: 1%;
}
.part_3{
  font-size: 25px;
  padding-top: 4%;
}
}
.getto,.uruch,.shir,.ozar,.shtal,.hatyn{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  text-align: center;
}
.photo{
  width: 80%;
  margin: 2% auto;
}
.under{
  font-size: 25px;
  padding-top: 1%;
  width: 100%;
}